# Core packages
streamlit==1.30.0
numpy==1.23.5          # Compatible with TensorFlow 2.12
pandas==2.0.3
matplotlib==3.8.2
opencv-python-headless==4.8.1.78
# opencv-contrib-python==4.8.1.78
mediapipe==0.10.9
fer==22.5.0
moviepy==1.0.3
tensorflow==2.12.0
PyYAML==6.0
Pillow==10.2.0
gradio

# Streamlit dependencies
altair==5.5.0
blinker==1.9.0
cachetools==5.5.2
click==8.3.1
importlib-metadata==7.2.1
packaging==23.2
protobuf==3.20.3
plotly==5.15.0
pyarrow==23.0.0
python-dateutil==2.9.0.post0
requests==2.32.5
rich==13.9.4
tenacity==8.5.0
toml==0.10.2
typing-extensions==4.15.0
tzlocal==5.3.1
validators==0.35.0
watchdog==6.0.0

# Optional ML dependencies
keras==2.12.0
facenet-pytorch==2.5.3

tensorflow-estimator==2.12.0
tensorboard==2.12.3
